body {
  background: papayawhip;
}

div {
  margin-bottom: .1em;
}

.person-div {
  display: flex;
}

.name-div {
  width: 5em;
  margin-right: 1em;
}

.datum-div {
  width: 2em;
  margin-right: .1em;
}